{% extends "base.html" %}
{% load static %}

{% block title %} {{ user.get_full_name|default:user.username }} - FUR PDF Editor{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Profile</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{{ profile_pic_url }}" alt="Profile Picture" class="rounded-circle" width="100" height="100"><br>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}