{% extends "base.html" %}

{% block title %}Sign Up - FUR PDF Editor{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
    <span class="text-danger d-block text-center">
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </span>
    <span class="text-success d-block text-center">
        {% if success_message %}
            {{ success_message }}
        {% endif %}
    </span>
    <span class="text-danger d-block text-center">
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </span>
</div>
{% endblock %}
