asgiref==3.8.1
colorama==0.4.6
Django==5.2.2
django-axes==8.0.0
django-bootstrap5==25.1
django-formtools==2.5.1
django-ipware==7.0.1
django-otp==1.6.1
django-phonenumber-field==8.1.0
django-tailwind==4.0.1
django-two-factor-auth==1.17.0
djangorestframework==3.16.0
pdf2image==1.17.0
phonenumbers==8.13.55
pillow==11.3.0
PyMuPDF==1.26.0
pypng==0.20220715.0
python-ipware==3.0.0
qrcode==7.4.2
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
